#completed-courses > .module{
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
}

#completed-courses .module ol > li{
    font-weight: 700;
    padding-top: 4px;
    padding-bottom: 4px;
}

#completed-courses .module ol{
    margin-left: 30px;
}

#completed-courses .module > i{
    color: #5cee56;
    padding-right: 5px;
    font-weight: 700;
    font-size: 20px;
}

#completed-courses .module a{
    color: #868e96;
}

#page-top nav#sideNav{
    background-color: #82ee71;
}

#page-top nav#sideNav{
    background-color: #4dff56;
}
